body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
svg{
    background-color: whitesmoke;
}

button {
    background: #ededed;
    border: 1px solid #ccc;
    padding: 10px 30px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:active {
    background: #9b9999;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
  }